<% if object.errors.any? %>
  <div class="bg-washed-red pa2 mv3 f6">
    <p class="f5 fw6 red mv0">Sorry, there was a problem</p>
    <p class="f7 mv0 black">You'll find more details highlighted below</p>
  </div>
<% end %>