<header class="bg-near-white fixed mv0 w-100 pv2" itemscope="" itemtype="http://schema.org/Brand">
  <nav class="f6 fw5 pa2">
    <div class="fl w-100">
      <a href="/" class="link mh3 fl w-40" itemprop="logo">
        <h2 class="fl f5 mv0 mr2">Healthy Dreamers</h2>
        <h1 class="fl f6 mv0">Let's make peoples live better</h1>
      </a>
    </div>
  </nav>
</header>