<header class="bg-white bb b--light-gray ph5 cf" itemscope="" itemtype="http://schema.org/Brand">
  <nav class="fl w-100 pv2">
    <div class="fl w-40">
      <a href="/" class="link silver" itemprop="logo">
        <div class="dib mr2">
	        <svg width="35" height="35" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	    			<g fill="none" fill-rule="evenodd">
	            <path d="M40,20 C40,31.046 31.046,40 20,40 C8.954,40 0,31.046 0,20 C0,8.954 8.954,0 20,0 C31.046,0 40,8.954 40,20" fill="#DA552F"></path>
	            <polygon fill="#FFFFFF" points="11 9 11 30.42 15.71 30.42 15.71 21.18 24.38 21.18 24.38 30.42 29.09 30.42 29.09 9 24.38 9 24.38 17.22 15.71 17.22 15.71 9"></polygon>
	        	</g>
					</svg>
				</div>
        <div class="dib">
        	<h2 class="f5 fw6 mt0 mb0 brand">Healthy Dreamers</h2>
        	<h1 class="f6 fw3 mt1 mb0">Let's make peoples live better</h1>
        </div>
      </a>
    </div>
    <div class="fl w-60 tr f7 fw6 lh-copy">
      <a href="" class="link ttu silver ba b--light-gray dib pv2 ph2 ph3-ns br2 hover-bg-light-gray hover-white">Log in</a>
    	<a href="" class="link ttu white bg-brand dib pv2 ph2 ph3-ns br2 hover-bg-brand">Sign up</a>
    </div>
  </nav>
</header>
